@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.hard-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

button,
[type="button"],
[type="submit"] {
  border-radius: 9999px !important;
}
